<div class="container-fluid">
  <div class="row">
    <div class="col-xs-'12 col-md-8">
      <h3>Gerar Orçamento</h3>
    </div>
    <div class="col-xs-12 col-md-8">
      <%= form_with url: orders_pending_path, class: "d-flex", method: :get do %>
        <div class="col-xs-12 col-md-6 px-0">
          <%= text_field_tag :q, nil, class: 'form-control d-inline mb-3', placeholder: 'Pesquisar ...' %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= submit_tag 'Pesquisar', class: "btn btn-default" %>
          <%= link_to 'Ver Todas', orders_pending_path, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @orders.any? %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Remetente</th>
        <th scope="col">Destinatário</th>
        <th scope="col">Situação</th>
        <th scope="col">Criado em</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do | o |
        if o.status == "pendent"
           status = "Pendente"
           status_class = "text-danger"
        else
           status = "???"
           status_class = "text-danger"
        end %>
      <tr>
        <td><%= link_to o.code, order_pending_path(o.id) %></td>
        <td><%= o.sender_name %></td>
        <td><%= o.recipient_name %></td>
        <td class="<%= status_class %>">
          <%= status %>
        </td>
        <td><%= o.updated_at.to_fs(:extense) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% else %>
    <hr />
    <h3>Nenhum orçamento pendente</h3>
  <% end %>

</div>