<h3 class="mb-3">Ordem de Entrega</h3>
<hr />


<div class="row mx-0">

    <%= form_with model: @order do |o| %>

    <div class="col-xs-12 col-md-6">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pb-3">
                        <%= o.label :code, class: "form-label" %>
                        <%= o.text_field :code, class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-3">
                    <%  status = ""
                        classe = ""
                        if @order.status == "pendent"
                          status = "Pendente"
                          classe = " text-danger"
                        elsif @order.status == "in_delivery"
                          status = "Saiu para entrega"
                          classe = " text-warning"
                        elsif @order.status == "delivered"
                          status = "Entregue"
                          classe = " text-success"
                        end %>
                        <%= o.label :status, class: "form-label" %>
                        <%= o.text_field :status, class: "form-control#{classe}", readonly: true, value: status %>
                    </div>

                    <% if @order.status != "pendent" %>
                        <div class="col-sm-12 col-md-6 pb-3">
                            <%= o.label :transport_mode_id, class: "form-label" %>
                            <% tm = @order.transport_mode_id.nil? ? "" : @order.transport_mode.name %>
                            <%= o.text_field :transport_mode_id, value: tm, class: "form-control", readonly: true %>
                        </div>
                        <div class="col-sm-12 col-md-6 pb-3">
                            <%= o.label :vehicle_id, class: "form-label" %>
                            <% vehicle = @order.vehicle_id.nil? ? "" : @order.vehicle.plate %>
                            <%= o.text_field :vehicle_id, value: vehicle, class: "form-control", readonly: true %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Produto</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pb-3">
                        <%= o.label :product_id, class: "form-label" %>
                        <%= o.text_field :product_id, class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-6 pb-3">
                        <%= o.label :product_weight, class: "form-label" %>
                        <%= o.text_field :product_weight, class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :product_width, class: "form-label" %>
                        <%= o.text_field :product_width, class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :product_height, class: "form-label" %>
                        <%= o.text_field :product_height, class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :product_depth, class: "form-label" %>
                        <%= o.text_field :product_depth, class: "form-control", readonly: true %>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Origem e Destino</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form_field col-sm-12 col-md-6 pb-3">
                        <%= o.label :origin_address, class: "form-label" %>
                        <%= o.text_field :origin_address, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-4 pb-3">
                        <%= o.label :origin_city, class: "form-label" %>
                        <%= o.text_field :origin_city, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-2 pb-3">
                        <%= o.label :origin_uf, class: "form-label" %>
                        <%= o.text_field :origin_uf, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-6 pb-3">
                        <%= o.label :destiny_address, class: "form-label" %>
                        <%= o.text_field :destiny_address, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-4 pb-3">
                        <%= o.label :destiny_city, class: "form-label" %>
                        <%= o.text_field :destiny_city, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-2 pb-3">
                        <%= o.label :destiny_uf, class: "form-label" %>
                        <%= o.text_field :destiny_uf, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-6 col-md-12 pb-3">
                        <%= o.label :distance, class: "form-label" %>
                        <%= o.text_field :distance, class: "form-control", readonly: true %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 pb-3">
            <% if @order.status == "pendent" %>
            <%= link_to 'Habilitar Edição', edit_order_path,
                        class: 'btn btn-primary btn-lg' %>
            <% end %>
            <%= link_to 'Voltar', orders_path, class: "btn btn-default btn-lg" %>
        </div>

    </div>

    <div class="col-xs-12 col-md-6">

        <% if @order.status != "pendent" %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informações de Entrega</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :start, class: "form-label" %>
                        <%= o.text_field :start, value: @order.start.to_fs(:extense), class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :deadline, class: "form-label" %>
                        <%= o.text_field :dealine, value: @order.deadline.to_fs(:extense), class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :delivered, class: "form-label" %>
                        <%= o.text_field :delivered, value: @order.delivered.to_fs(:extense), class: "form-control", readonly: true %>
                    </div>
                    <div class="col-sm-12 col-md-4 pb-3">
                        <%= o.label :price, class: "form-label" %>
                        <%= o.text_field :price, value: number_to_currency(@order.price, unit: "R$", separator: ",", delimiter: ""), class: "form-control", readonly: true %>
                    </div>
                    <% if @order.delivered > @order.deadline %>
                    <div class="col-sm-12 col-md-12 pb-3">
                        <%= o.label :delay_reason, class: "form-label" %>
                        <%= o.text_field :delay_reason, class: "form-control", readonly: true %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Remetente</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form_field col-sm-12 col-md-12 pb-3">
                        <%= o.label :sender_name, class: "form-label" %>
                        <%= o.text_field :sender_name, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-6 pb-3">
                        <%= o.label :sender_document, class: "form-label" %>
                        <%= o.text_field :sender_document, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-6 pb-3">
                        <%= o.label :sender_phone, class: "form-label" %>
                        <%= o.text_field :sender_phone, class: "form-control", readonly: true %>
                    </div>
                    <div class="form_field col-sm-12 col-md-12 pb-3">
                        <%= o.label :sender_email, class: "form-label" %>
                        <%= o.text_field :sender_email, class: "form-control", readonly: true %>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Destinatário</h3>
            </div>
            <div class="panel-body">
                <div class="form_field col-sm-12 col-md-12 pb-3">
                    <%= o.label :recipient_name, class: "form-label" %>
                    <%= o.text_field :recipient_name, class: "form-control", readonly: true %>
                </div>
                <div class="form_field col-sm-12 col-md-6 pb-3">
                    <%= o.label :recipient_document, class: "form-label" %>
                    <%= o.text_field :recipient_document, class: "form-control", readonly: true %>
                </div>
                <div class="form_field col-sm-12 col-md-6 pb-3">
                    <%= o.label :recipient_phone, class: "form-label" %>
                    <%= o.text_field :recipient_phone, class: "form-control", readonly: true %>
                </div>
                <div class="form_field col-sm-12 col-md-12 pb-3">
                    <%= o.label :recipient_email, class: "form-label" %>
                    <%= o.text_field :recipient_email, class: "form-control", readonly: true %>
                </div>
            </div>
        </div>
    
    </div>

    <% end %>

</div>
