<div class="container-fluid">
  <div class="row">
    <div class="col-xs-'12 col-md-8">
      <h3>Tabela de Preços</h3>
    </div>
  </div>

  <% if @prices.any? %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Valor por KM</th>
        <th scope="col">Peso Mínimo / Peso Máximo</th>
        <th scope="col">Modalidade de Transporte</th>
      </tr>
    </thead>
    <tbody>
    <% @prices.each do | p | %>
      <tr>
        <td>
          <%= link_to edit_price_path(p) do %>
          <%= number_to_currency(p.km_price, unit: "R$", separator: ",", delimiter: "") %>
          <% end %>
        </td>
        <td><%= p.min_weight %>kg / <%= p.max_weight %>kg</td>
        <td><%= p.transport_mode.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% else %>
    <hr />
    <h3>Nenhuma configuração de preço cadastrada</h3>
  <% end %>

</div>