<h3 class="mb-3">Modalidade de Transporte</h3>

<div class="row mx-0">
    <div class="col-xs-12 col-md-6">
        <%= form_with model: @transport_mode do |tm| %>

        <div class="form_field col-sm-12 pb-3">
            <%= tm.label :name, class: "form-label" %>
            <%= tm.text_field :name, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :min_range, class: "form-label" %>
            <%= tm.text_field :min_range, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :max_range, class: "form-label" %>
            <%= tm.text_field :max_range, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :min_weight, class: "form-label" %>
            <%= tm.text_field :min_weight, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :max_weight, class: "form-label" %>
            <%= tm.text_field :max_weight, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :tax, class: "form-label" %>
            <%= tm.text_field :tax, class: "form-control", readonly: true %>
        </div>
        <div class="form_field col-sm-12 col-md-6 pb-3">
            <%= tm.label :active, class: "form-label" %>
            <% if @transport_mode.enable?
                ativo = 'Habilitado'
               else
                ativo = 'Desabilitado'
               end %>
            <%= tm.text_field :active, value: ativo, class: "form-control", readonly: true %>
        </div>

         <% end %>

        <div class="col-sm-12 col-md-9 pb-3">
            <%= link_to 'Editar', edit_transport_mode_path(@transport_mode), class: "btn btn-primary btn-lg" %>
            <%= link_to 'Voltar', transport_modes_path, class: "btn btn-default btn-lg" %>
        </div>

        <div class="col-sm-12 col-md-3 text-right">
            <% if @transport_mode.enable? %>
                <%= button_to "Desabilitar", desactive_transport_mode_path, { method: 'patch', class: "btn btn-default btn-lg" } %>
            <% else %>
                <%= button_to "Habilitar", active_transport_mode_path, { method: 'patch', class: "btn btn-default btn-lg" } %>
            <% end %>
        </div>
    
       
    </div>
</div>