<!DOCTYPE html>
<html>
  <head>
    <title>Transporter App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <div id="viewport">
      <!-- Sidebar -->
      <div id="sidebar">
        <header>
          <%= link_to 'Transporter APP', root_path %>
        </header>
        <ul class="nav">
          <li>
            <%= link_to 'Modalidades de Transporte', transport_modes_path %>
          </li>
          <li>
            <%= link_to 'Categorias', categories_path %>
          </li>
          <li>
            <a href="#">
              Veículos
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-calendar"></i> Events
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> About
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-settings"></i> Services
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-comment-more"></i> Contact
            </a>
          </li>
        </ul>
      </div>
      <!-- Content -->
      <div id="content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                <%= link_to edit_user_registration_path do %>
                <i class="glyphicon glyphicon-user"></i>
                <% end %>
              </li>
                <li><%= link_to current_user.name, edit_user_registration_path %></li>
                <li><%= button_to "Sair", destroy_user_session_path, { method: :delete, class: 'btn btn-default' } %></li>
              <% end %>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <% flash.each do |type, msg| %>
            <% if type == 'notice' %>
            <div id="notice" class="alert alert-success" role="alert"><%= msg %></div>
            <% end %>
            <% if type == 'alert' %>
            <div id="alert" class="alert alert-danger" role="alert"><%= msg %></div>
            <% end %>
          <% end %>
          <%= yield %>
          </p>
        </div>
      </div>
    </div>
    
  </body>
</html>
